{{link-to 'Back to orgs' 'orgs'}}

<h2>

  <img src="{{content.avatar_url}}" height="50" alt="">
  {{content.name}} <a target='_blank' href={{content.repos_url}}>GitHub</a></h2>


  {{outlet}}


<span {{action 'addToRecords' 'Two'}}>CLick Meeee! this jus a test</span>
<ul>

  {{#each records as |record|}}
	  <li>{{record.id}}</li>
  {{/each}}

</ul>


