
<h1>My Favourite ORGS</h1>

<ul>

    {{#each content as |org|}}
		  <li>  <span {{action 'addToFav' org}}> favorite</span> {{link-to org.id 'org' org.id}} </li>
      {{else}}
      <h1>list is empty</h1>
      {{/each}}


</ul>

{{link-to 'Home' 'index'}}

{{outlet}}
